Django==3.2
djangorestframework==3.12
djangorestframework-simplejwt
PyJWT==2.3.0
djoser==2.2.0
gunicorn==21.2.0
mysqlclient==2.0.1
django-mysql==3.9
django-cors-headers==3.14.0
Pillow
django-environ
boto3
django-storages