.post {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 14px;
}
.post_child {
  text-align: center;
  border-radius: 14px;
  background-color: #fff;
}
.post_header {
  display: flex;
  align-items: center;
  padding: 15px;
}
.post_avatar {
  margin-right: 10px;
  z-index: 0;
}
.post_image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.post_star {
  display: flex;
  justify-content: center;
}
.post_text {
  font-weight: normal;
  padding: 20px;
  word-break: break-all;
}

.post_checkBox {
  z-index: 0;
}

.post_comments {
  padding: 20px;
}
.post_comment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  word-break: break-all;
}
.post_commentBox {
  display: flex;
  margin-top: 10px;
}
.post_input {
  flex: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid lightgray;
}
.post_button {
  flex: 0;
  border: none;
  color: #4682b4;
  background-color: transparent;
  border-top: 1px solid lightgray;
  cursor: pointer;
}
.post_strong {
  margin-right: 5px;
}